@import 'styles/typography/typography_scheme.scss';
@import 'styles/color/color_scheme.scss';

.InquiryPageTemplate {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;  

  &-header {
    width: 100%;
    min-width: 1080px;
    height: 80px;
    background-color: $white;
    border-top: 3px solid $soda_primary;
    margin: 0;
    padding: 0;
    top: 0;
    box-shadow: 0 1px 6px 0 $shadow;
  }
  &-contents {
    min-width: 1080px;
    max-width: 1080px;
    min-height: 889px;
    padding-bottom: 190px;
  }
  &-footer {
    position: absolute;
    width: 100%;
    min-width: 1200px;
    height: 160px;
    bottom: 0;
    box-shadow: 0 1px 6px 0 $shadow;
  }
}