@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';


.BambooEmpathy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 7px;
  margin-right: 7px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:hover {
      .BambooEmpathy-wrap-tooltip {
        transition-delay: 0.15s;
        visibility: visible !important;
      }
    }
    &-icon {
      width: 30px;
      height: 30px;
      margin-right: 7px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.5);
      }
    }
    &-tooltip {
      width: max-content;
      padding: 3px 8px 3px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      bottom: calc(100% + 8px);
      transform: translate(-50%, 0);
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 0 3px 0 rgba($color: $black, $alpha: .4);
      font-family: $NOTO_SANS_KR_REGULAR;
      font-size: $font_size_1;
      color: $black;
      visibility: hidden;
      transition: visibility 0.15s;
      user-select: none;
    }
  }
  &-count {
    color: $black;
    user-select: none;
    &-none {
      color: $gray_3;
    }
  }
}
