
@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';

@media screen and (min-width: 992px) {
  .NotFound {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #74c0fc;
    flex-direction: column;
    align-items: center;

    &-NotFoundNumber {
      font-size: 60px;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-top: 150px;
    }

    &-NotFoundText {
      font-size: 30px;
      color: white;
      font-weight: bold;
      text-align: center;
    }

    &-HomePageLinkDiv {
      width: 250px;
      height: 70px;
      margin-right: -200px;
      margin-top: 50px;

      &-HomePageLink {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 30px;
      }
    }

    &-NotFoundImageBackground {
      width: 250px;
      height: 250px;
      margin-left: -200px;

      &-NotFoundImageStyle {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .NotFound {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #74c0fc;
    flex-direction: column;
    align-items: center;

    &-NotFoundNumber {
      font-size: 60px;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-top: 150px;
    }

    &-NotFoundText {
      font-size: 30px;
      color: white;
      font-weight: bold;
      text-align: center;
    }

    &-HomePageLinkDiv {
      width: 250px;
      height: 70px;
      margin-right: -200px;
      margin-top: 50px;

      &-HomePageLink {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 30px;
      }
    }

    &-NotFoundImageBackground {
      width: 250px;
      height: 250px;
      margin-left: -200px;

      &-NotFoundImageStyle {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (min-width : 768px) and (max-width : 991px) {
  .NotFound {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #74c0fc;
    flex-direction: column;
    align-items: center;

    &-NotFoundNumber {
      font-size: 60px;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-top: 150px;
    }

    &-NotFoundText {
      font-size: 30px;
      color: white;
      font-weight: bold;
      text-align: center;
    }

    &-HomePageLinkDiv {
      width: 250px;
      height: 70px;
      margin-right: -200px;
      margin-top: 50px;

      &-HomePageLink {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 30px;
      }
    }

    &-NotFoundImageBackground {
      width: 250px;
      height: 250px;
      margin-left: -200px;

      &-NotFoundImageStyle {
        width: 100%;
        height: 100%;
      }
    }
  }
}