@import 'styles/typography/typography_scheme.scss';
@import 'styles/color/color_scheme.scss';

.InquiryItem {
  width: 100%;
  height: calc(100% / 14);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $shadow;
  padding: 0 1%;

  &-left {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &-front {
      display: flex;
      justify-content: center;
      // align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      background-color: $gray_2;
      color: $black;
      margin-right: 10px;
      font-family: $NOTO_SANS_MEDIUM;
      font-size: $font_size_3;
    }

    &-title {
      font-size: $font_size_3;
      font-family: $NOTO_SANS_KR_MEDIUM;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
  
      >span:hover {
        cursor: pointer;
        color: $soda_primary;
      }
    }
  }
  &-right {
    width: 20%;
    display: flex;
    flex-direction: row;

    &-wrap {
      width: calc(100% / 2);
      display: flex;
      justify-content: center;
      font-size: $font_size_2;
      font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;

      >div {
        width: 90px;
        display: flex;
        justify-content: flex-end;
      }

    }
    &-wrap:nth-child(1) {
      border-right: 1px solid $shadow;
      justify-content: flex-start;
    }
    // &-wrap:nth-child(2) {
    //   border-right: 1px solid $shadow;
    // }
  }
  
  
  // &-mid {
  //   width: 100%;
  //   height: 25%;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
    

    
  //   &-state {
  //     width: 12%;
  //     height: 100%;
  //     font-size: $font_size_2;
  //     font-family: $NOTO_SANS_KR_REGULAR;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;

  //     &-wrap {
  //       display: flex;
  //       align-items: center;

  //       >.wait {
  //         width: 15px;
  //         height: 15px;
  //         color: $warning;
  //         margin-right: 4px;
  //       }
  //       >.success {
  //         width: 15px;
  //         height: 15px;
  //         color: $success;
  //         margin-right: 4px;
  //       }
  //     }
  //   }
  // }
  // &-bottom {
  //   >span {
  //     font-size: $font_size_2;
  //     font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
  //   }
  //   >span:nth-child(1) {
  //     padding-right: 6px;
  //     border-right: 1px solid $shadow;
  //   }
  //   >span:nth-child(2) {
  //     padding-left: 6px;
  //     padding-right: 6px;
  //     border-right: 1px solid $shadow;
  //   }
  //   >span:nth-child(3) {
  //     padding-left: 6px;
  //   }
  // }
}