@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';


.BambooCard {
  margin: 30px auto;
  width: 750px;
  min-height: 200px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);

  &-commentDiv {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;

    &-empty {
      color: $gray_3;
      font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
    }

    &-closeBtn {
      color: $error;
      font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
      cursor: pointer;
      user-select: none;
    }

    &-commentShowButtonDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      
      &-fontStyle {
        cursor: pointer;
        user-select: none;
        color: $facebook;
        font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
      }
    }

    &-contentsBox {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 700px;
      height: 100%;
      margin-top: 15px;
      border-top: 1px solid $gray_2;

      &-empathy {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &-commentInputWrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        &-profileImageDiv {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
  
        &-inputDiv {
          width: 520px;
          height: 40px;
          margin-left: 25px;
  
          &-input {
            width: 100%;
            height: 100%;
            outline: 0px;
            font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
            border: 1px solid $gray_3;
            padding-left: 10px;
            border-radius: 5px;
            font-size: 15px;
            animation-duration: 0.3s;
  
            &:focus {
              border-color: $bamboo_primary;
            }
          }
        }
  
        &-writeButtonDiv {
          width: 70px;
          height: 40px;
          margin-left: 25px;
  
          &-button {
            width: 100%;
            height: 100%;
            border: 0px;
            outline: 0px;
            font-size: 13px;
            color: white;
            background-color: $bamboo_primary;
            border-radius: 5px;
            cursor: pointer;
            font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
          }
        }
      }
    }
  }

  &-Contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    min-height: 100px;

    &-ImageBackground {
      display: flex;
      width: 100%;
      height: 100%;
    }

    &-Image {
      width: 100%;
      height: 350px;
    }

    &-ImageButton {
      width: 100%;
      height: 300px;
      border: none;
      background-color: #ffffff;
      cursor: pointer;
      outline: 0;
    }

    &-FirstImageButton {
      margin-right: auto;
      width: 400px;
      height: 350px;
      cursor: pointer;
      border: none;
      outline: 0px;
    }

    &-FirstImages {
      width: 402px;
      height: 360px;
      margin: 0px 0px 0px -7px;
    }

    &-SecondImageButton {
      width: 346px;
      height: 200px;
      cursor: pointer;
    }

    &-SecondImages {
      margin: -3px 0px 0px -7px;
      width: 350px;
      height: 200px;
      filter: brightness(50%);
    }

    &-PlusButton {
      margin: 200px 10px 0px -345px;
      width:350px;
      height: 160px;
      border: none;
      background-color: #484848;
      outline: 0px;
      cursor: pointer;
    }

    &-PlusImage {
      width: 340px;
      height: 100px;
      font-size: 50px;
      color: #ffffff;
    }

    &-Bottom {
      width: 100%;
      height: 70px;

      &-CheckName {
        margin: -45px 0px 0px 630px;
        line-height: 40px;
        text-align: center;
        font-size: $font_size_1;
        font-weight: bolder;
        border-radius: 17px;
        border: 1px solid #adb5bd;
        width: 110px;
        height: 40px;
        color: #adb5bd;
      }
    }
  }

  &-FontStyle {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
    overflow: auto;
    white-space: pre-wrap;
  }

  &-countFont {
    font-size: 13px;
    color: $gray_4;
    font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  &-Top {
    width: 750px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid $gray_1;
    &-ProfileImage {
      width: 40px;
      height: 40px;
      max-width: 100%;
      max-height: 100%;
      border-radius: 50%;
      margin: auto 0 auto 3%;
    }
    &-profileContentsWrap {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: auto auto auto 2%;
      &-ProfileName {
        font-size: $font_size_2;
        font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
      }
      &-Subject {
        font-size: $font_size_1;
        color: #49d277;
        font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_KR_REGULAR;
        margin-top: 3%;
      }
    }
    &-dateWrap {
      margin: auto 2% auto auto;
      &-AllowDateStyle {
        font-size: $font_size_1;
        font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
        color: #afb7c2;
      }
        
      &-JoinDateStyle {
        font-size: $font_size_1;
        font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
        color: #afb7c2;
      }
    }
    &-FacebookLink {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $facebook;
      border: none;
      cursor: pointer;
      outline: 0;
      margin: auto 3% auto 0;
    }
    &-FacebookLinkImage {
      width: 20px;
      height: 20px;
      color: white;
      border: none;
    }
    &-DeleteBtn {
      width: $font_size_7;
      height: $font_size_7;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 3% auto 0;
      font-size: $font_size_5;
      color: $error;
      border: 1px solid $error;
      border-radius: 50%;
      cursor: pointer;
      transition-duration: .2s;
      &:hover {
        color: $white;
        background-color: $error;
      }
    }
  }
}