
@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';


.BambooCard {
  margin: 30px auto;
  width: 750px;
  min-height: 200px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);

  &-Contents {
    display: flex;
    flex-direction: column;
    width: 750px;
    min-height: 100px;

    &-ImageBackground {
      display: flex;
      width: 100%;
      height: 100%;
    }

    &-Image {
      width: 100%;
      height: 350px;
    }

    &-ImageButton {
      width: 100%;
      height: 300px;
      border: none;
      background-color: #ffffff;
      cursor: pointer;
      outline: 0;
    }

    &-FirstImageButton {
      margin-right: auto;
      width: 400px;
      height: 350px;
      cursor: pointer;
      border: none;
      outline: 0px;
    }

    &-FirstImages {
      width: 402px;
      height: 360px;
      margin: 0px 0px 0px -7px;
    }

    &-SecondImageButton {
      width: 346px;
      height: 200px;
      cursor: pointer;
    }

    &-SecondImages {
      margin: -3px 0px 0px -7px;
      width: 350px;
      height: 200px;
      filter: brightness(50%);
    }

    &-PlusButton {
      margin: 200px 10px 0px -345px;
      width:350px;
      height: 160px;
      border: none;
      background-color: #484848;
      outline: 0px;
      cursor: pointer;
    }

    &-PlusImage {
      width: 340px;
      height: 100px;
      font-size: 50px;
      color: #ffffff;
    }

    &-Bottom {
      width: 100%;
      height: 70px;

      &-CheckName {
        margin: -45px 0px 0px 630px;
        line-height: 40px;
        text-align: center;
        font-size: $font_size_1;
        font-weight: bolder;
        border-radius: 17px;
        border: 1px solid #adb5bd;
        width: 110px;
        height: 40px;
        color: #adb5bd;
      }
    }
  }

  &-FontStyle {
    padding: 35px;
  }
  
  &-Top {
    width: 750px;
    height: 70px;
    border-bottom: 1px solid #e9ecef;

    &-AllowDateStyle {
      margin: -40px 0px 0px 550px;
      font-size: $font_size_1;
      font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
      color: #afb7c2;
    }
      
    &-JoinDateStyle {
      margin: -20px 0px 0px 550px;
      font-size: $font_size_1;
      font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
      color: #afb7c2;
    }

    &-FacebookLinkImage {
      margin: 7px 0px 0px 7px;
      width: 20px;
      height: 20px;
      color: white;
      border: none;
    }

    &-FacebookLink {
      margin: -14px 0px 0px 695px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $facebook;
      border: none;
      cursor: pointer;
      outline: 0;
    }

    &-Profile {
      width: 300px;
      height: 80px;
      border: 1px solid #484848;

      &-ProfileImage {
        width: 40px;
        height: 40px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        margin: 15px 0px 0px 25px;
      }
  
      &-ProfileName {
        margin: -45px 0px 0px 80px;
        font-size: $font_size_2;
        font-family: $NOTO_SANS_KR_THIN, $NOTO_SANS_MEDIUM;
        font-weight: bold;
      }

      &-Subject {
        margin: 5px 0px 0px 80px;
        font-size: $font_size_1;
        color: #49d277;
        font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
      }
    }
  }
}