@import 'styles/typography/typography_scheme.scss';
@import 'styles/color/color_scheme.scss';

.InquiryTemplate {
  width: 100%;  

  &-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font_size_8;
    font-family: $NOTO_SANS_KR_REGULAR;
    color: $black;
    border-bottom: 1px solid $shadow;
  }
  &-content {
    width: 100%;
    min-height: 539px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &-pagination {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-prev, &-next {
      font-size: $font_size_4;
      font-family: $NOTO_SANS_KR_MEDIUM;
      cursor: pointer;
    }
    &-prev {
      margin-right: 1%;
    }
    &-next {
      margin-left: 1%;
    }
  }

  &-hidden {
    display: none;
  }

  .noData {
    width: 100%;
    height: 100%;
    font-size: $font_size_5;
    font-family: $NOTO_SANS_KR_REGULAR;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
}