@import 'styles/typography/typography_scheme.scss';
@import 'styles/color/color_scheme.scss';

.InquiryTemplate {
  width: 100%;
  padding-bottom: 20px;

  &-header {
    width: 100%;
    height: 85.5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: $font_size_8;
    font-family: $NOTO_SANS_KR_REGULAR;
    border-bottom: 2px solid $shadow;
    padding-bottom: 18.5px;

    &-title {
      font-size: $font_size_6;
      font-family: $NOTO_SANS_KR_REGULAR;
      color: $black;

      &-subTitle {
        margin-left: 12px;
        font-size: $font_size_2;
        font-family: $NOTO_SANS_KR_REGULAR;
        color: $gray_3;
      }
    }

    &-category {
      position: relative;
      // width: 100px;
      height: 40px;
      display: flex;
      align-items: center;

      &-btn {
        // width: 100px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: $font_size_3;
        font-family: $NOTO_SANS_KR_MEDIUM;
        color: $black;

        >.down_icon {
          width: 15px;
          height: 15px;
          margin-left: 8px;
        }
      }
      &-ul {
        position: absolute;
        top: 100%;
        right: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: $font_size_2;
        font-family: $NOTO_SANS_KR_MEDIUM;
        color: $black;
        box-shadow: 0 2px 6px 0 $shadow;
        z-index: 1000;

        &-li {
          width: 150px;
          height: 40px;
          padding: 5% 10%;
          display: flex;
          align-items: center;
          background-color: $white;
          cursor: pointer;
          
          &-clicked {
            background-color: $gray_3;
          }
          &-clicked:hover {
            background-color: $gray_3 !important;
          }
        }
        &-li:hover {
          background-color: $gray_0;
        }

        &-hidden {
          display: none;
        }
      }
    }
  }
  &-content {
    width: 100%;
    height: 740px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &-pagination {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-prev, &-next {
      font-size: $font_size_2;
      font-family: $NOTO_SANS_KR_MEDIUM;
      color: $gray_3;
      cursor: pointer;
      width: 40px;
      text-align: center;
    }
    &-wrap {
      width: 260px;
      display: flex;
      justify-content: center;
      margin: 0 5px;
    }
  }

  &-hidden {
    // display: none;
    visibility: collapse;
  }

  .noData {
    width: 100%;
    height: 100%;
    font-size: $font_size_5;
    font-family: $NOTO_SANS_KR_REGULAR;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
}