
@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';


.QuestionWriteTemplate {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  flex-direction: column;
  align-items: center;

  &-guideDiv {
    display: flex;
    width: 730px;
    height: 30px;
    align-items: center;
    justify-content: flex-end;

    &-title { 
      font-size: $font_size_1;
      color: black;
      font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
    }

    &-guide {
      font-size: $font_size_1;
      color: $gray_3;
      padding-left: 5px;
      font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
    }
  }

  &-contentsTopBox {
    display: flex;
    width: 730px;
    height: 70px;
    align-items: center;
    margin-top: 5%;
    justify-content: center;

    &-categoryBox {
      width: 230px;
      height: 50px;
      border: none;
      cursor: pointer;
      outline: 0px;
      padding-left: 10px;
      font-size: $font_size_2;
      color: $gray_4;
      font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
    }

    &-uploadButtonDiv {
      width: 150px;
      height: 50px;
      cursor: pointer;
      margin: auto -100px auto auto;
      &-label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font_size_2;
        font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
        border: 2px solid $soda_primary;
        border-radius: 2.5px;
        color: $soda_primary;
        background-color: $white;
        cursor: pointer;
        transition: ease-out .2s;
        &:hover {
          color: $white;
          background-color: $soda_primary;
        }
      }

      &-uploadButton {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
      }
    }
  }

  &-contentsBox {
    display: flex;
    width: 730px;
    min-height: 200px;
    margin-top: 10px;
    box-shadow: 0 0 8px 0 $shadow;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-imageList {
      width: 100%;
    }

    &-titleBox {
      display: flex;
      width: 700px;
      height: 70px;
      border-bottom: 1px solid $gray_3;
      justify-content: center;
      align-items: center;
      justify-content: center;

      &-titleDiv {
        width: 600px;
        height: 60px;
        margin: auto 60px auto auto;
        &-title {
          width: 600px;
          height: 60px;
          margin-right: 0px;
          border: none;
          font-size: $font_size_3;
          font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
          outline: 0px;
        }
      }

      &-qIconDiv {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;

        &-qIcon {
          font-size: $font_size_4;
          color: $soda_primary;
          font-family: $CAFE24_OH_SQUARE;
        }
      }
    }

    &-contents {
      width: 700px;
      height: 100px;

      &-text {
        width: 100%;
        height: 100%;
        padding: 30px;
        font-size: $font_size_2;
        color: $gray_4;
        font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
        outline: 0px;
        border: none;
        resize: none;
      }
    }
  }
}