@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';

$width_size: 735px;

.BambooWriteTemplate {
  width: 100%;
  min-height: 800px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  &-header {
    width: $width_size;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    &-upload {
      width: 15%;
      height: 40%;
      &-label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font_size_2;
        font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
        border: 1px solid $bamboo_primary;
        border-radius: 2.5px;
        color: $bamboo_primary;
        background-color: $white;
        cursor: pointer;
        transition: ease-out .2s;
        &:hover {
          color: $white;
          background-color: $bamboo_primary;
        }
      }
      &-input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
      }
    }
  }
  &-contents {
    width: $width_size;
  }
  &-footer {
    width: $width_size;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    font-size: $font_size_1;
    font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
    user-select: none;
    &-title {
      color: $gray_4;
      margin-right: 1%;
    }
    &-contents {
      color: $gray_3;
    }
  }
}
