@import 'styles/typography/typography_scheme.scss';
@import 'styles/color/color_scheme.scss';

.Intro {
  width: 100%;
  height: 100%;

  &-page1 {
    width: 100%;
    height: 100%;
    background-color: lightblue;
  }
  &-page2 {
    width: 100%;
    height: 100%;
    background-color: lightcoral;
  }
}