@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';

$profile_img_size: 55px;

.NavBar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 3px solid $bamboo_primary;
  box-shadow: 0 0 8px 0 $shadow;
  &-MainButtonBox {
    width: 100px;
    height: 50px;
    margin: auto 50px auto auto;
    &-MainButton {
      width: 100%;
      height: 100%;
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;
      background-color: white;
      color: $bamboo_primary;
      outline: 0px;
      border: none;
    }
  }
  &-ButtonsBox {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 400px auto auto;
    &-BambooFeedButtonBox {
      width: 100px;
      height: 50px;
      &-BambooFeedButton {
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        background-color: white;
        outline: 0px;
        color: gray;
        transition: ease-out .1s;
        &:hover {
          font-size: 15px;
          color: black;
        }
      }
    }
    &-BambooWriteButtonBox {
      width: 110px;
      height: 50px;
      &-BambooWriteButton {
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        background-color: white;
        outline: 0px;
        color: gray;
        transition: ease-out .2s;
        &:hover {
          font-size: 15px;
          color: black;
        }
      }
    }
    &-QuestionWriteButtonBox {
      width: 100px;
      height: 50px;
      &-QuestionWriteButton {
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        color: gray;
        background-color: white;
        outline: 0px;
        transition: ease-out .2s;
        &:hover {
          font-size: 15px;
          color: black;
        }
      }
    }
    &-AdminButtonBox {
      width: 100px;
      height: 50px;
      &-AdminButton {
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        background-color: white;
        outline: 0px;
        color: gray;
        transition: ease-out .2s;
        &:hover {
          font-size: 15px;
          color: black;
        }
      }
    }
  }

  &-ButtonContents {
    color: black;
    font-size: 15px;
  }
}
