@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';

$profile_img_size: 55px;

// 대숲 페이지
.NavBar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-top: 3px solid $bamboo_primary;
  box-shadow: 0 1px 1px 0 $shadow;

  &-inquiry {
    border-top: 3px solid $soda_primary;
  }

  &-top {
    width: 100%;
    height: 87.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $shadow;

    &-wrap {
      max-width: 1100px;
      min-width: 1100px;
      height: 100%;
      display: flex;
  
      &-header {
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: $font_size_8;
        font-family: $NOTO_SANS_KR_BOLD;
        color: $bamboo_primary;

        &-title {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          >span {
            cursor: pointer;
          }
        }

        &-inquiry {
          color: $soda_primary;
        }
      }
      &-content {
        width: 1000px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
  
        &-btns {
          width: 300px;
          height: 40px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
  
          &-login {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            color: $bamboo_primary;
            font-size: $font_size_4;
            font-family: $NOTO_SANS_KR_MEDIUM;

            &-inquiry {
              color: $soda_primary;
            }
            >span {
              color: $black;
            }
          }
        }
      }
    }
  }

  &-bottom {
    width: 100%;
    height: 62.5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrap {
      max-width: 1100px;
      min-width: 1100px;
      height: 100%;
      display: flex;

      &-content {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
  
        &-btns {
          width: 400px;
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          &-button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            color: $gray_3;
            font-size: $font_size_4;
            font-family: $NOTO_SANS_KR_MEDIUM;
            padding: 0;
          }
          &-button:hover {
            border-bottom: 1px solid $gray_3;
          }
          // &-bamboo, &-inquiry, &-bambooWrite, &-bambooAdmin {
          //   background-color: transparent;
          //   border: none;
          //   outline: none;
          //   cursor: pointer;
          //   color: $gray_3;
          //   font-size: $font_size_4;
          //   font-family: $NOTO_SANS_KR_MEDIUM;
          //   padding: 0;
          // }
          // &-bamboo:hover, &-inquiry:hover, &-bambooWrite:hover, &-bambooAdmin:hover {
          //   border-bottom: 1px solid $gray_3;
          // }
        }
      }
    }
  }

  &-clicked {
    color: $black;
  }
  &-clicked:hover {
    border: none;
  }
}

// 문의 페이지
.InquiryNavBar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid $soda_primary;
  box-shadow: 0 1px 8px 0 $shadow;

  &-wrap {
    max-width: 1100px;
    min-width: 1100px;
    height: 100%;
    display: flex;

    &-header {
      width: 100px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font_size_9;
      font-family: $NOTO_SANS_BOLD;
      color: $soda_primary;

      &-title {
        width: 100%;
        height: 38px;
        display: flex;
        justify-content: center;

        >span {
          cursor: pointer;
        }
      }
    }
    &-content {
      width: 1000px;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &-btns {
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-inquiry, &-login, &-logout, &-bamboo {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          color: $gray_3;
          font-size: $font_size_4;
          font-family: $NOTO_SANS_KR_MEDIUM;
        }
      }
    }
  }
}
