
@import 'styles/typography/typography_scheme.scss';
@import 'styles/color/color_scheme.scss';

.SignTemplate {
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  // position: relative;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: $white;
  border-radius: 5px;

  &-hidden {
    display: none;
  }
  &-up {
    height: 600px;
  }
  &-close {
    width: 34px;
    height: 34px;
    color: $gray_4;
    position: absolute;
    right: 0;
    margin: 4px 4px 0 0;
    cursor: pointer;
  }
  &-over {
    position: fixed;
    z-index: 2;
    background-color: rgba($color: $shadow, $alpha: 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  &-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    user-select: none;
    border-radius: 5px;

    &-title {
      font-size: $font_size_7;
      font-family: $NOTO_SANS_KR_MEDIUM;
      color: $gray_4;
      margin-bottom: 20px;

      &-up {
        margin-bottom: 40px;
      }
      &-page4 {
        margin-bottom: 0px;
      }
      &>span {
        color: $soda_primary;
      }
    }

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-otherBtn {
      width: 500px;
      height: 110px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-top: 3px solid $gray_2;
  
      &-guest {
        color: $gray_3;
        font-size: $font_size_5;
        font-family: $NOTO_SANS_KR_REGULAR;
        border-bottom: 1px solid $gray_3;
        cursor: pointer;
      }
      // &-signUp {
      //   width: 210px;
      //   height: 55px;
      //   font-size: $font_size_4;
      //   color: $white;
      //   outline: none;
      //   border:none;
      //   border-radius: 5px;
      //   font-family: $NOTO_SANS_KR_REGULAR;
      //   background-color: $bamboo_primary;
      //   cursor: pointer;
      // }
    }    
  }
  &-right {
    width: 1000px;
    min-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $soda_primary;
    user-select: none;

    &-top {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding-right: 100px;
      margin-bottom: 50px;

      &-ment {
        color: $white;
        font-size: 34px;
        font-family: $NOTO_SANS_KR_REGULAR;
      }
      &-title {

        &-icon {
          width: 73px;
          height: 64px;
          color: $white;
          margin-right: 10px;
        }
        &-text {
          font-size: 80px;
          font-family: $NOTO_SANS_BOLD;
          color: $white;
        }
      }
    }
    &-bottom {
      width: 100%;
      height: 500px;
      margin-bottom: 150px;

      &-arrow1 {
        position: relative;
        top: 0%;
        left: 54%;
        width: 380px;
        height: 160px;
        border-radius: 30px;
        background: $white;
        border: none;
        padding: 40px 30px;
        margin: 1em 0;
        font-size: $font_size_6;
        font-family: $NOTO_SANS_KR_MEDIUM;
        color: $gray_4;
        z-index: 1;

        >div {
          margin-bottom: 10px;
          z-index: 1;
        }
      }
      &-arrow1:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 72%;
        width: 0;
        height: 0;
        border: 100px solid transparent;
        border-top-color: $white;
        border-bottom: 0;
        border-right: 0;
        margin-left: -23.5px;
        margin-bottom: -45px;
        transform: rotate(-20deg);
        z-index: -1;
      }
      &-arrow2 {
        position: relative;
        top: 12%;
        left: 8%;
        width: 400px;
        height: 180px;
        border-radius: 30px;
        background: $white;
        border: none;
        padding: 30px 30px;
        margin: 1em 0;
        font-size: $font_size_6;
        font-family: $NOTO_SANS_KR_MEDIUM;
        color: $gray_4;
        z-index: 1;

        >div {
          margin-bottom: 10px;
          z-index: 1;
        }
      }
      &-arrow2:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 14%;
        width: 0;
        height: 0;
        border: 100px solid transparent;
        border-top-color: $white;
        border-bottom: 0;
        border-left: 0;
        margin-left: -23.5px;
        margin-bottom: -45px;
        transform: rotate(20deg);
        z-index: -1;
      }
    }
  }
}
