@import 'styles/typography/typography_scheme.scss';
@import 'styles/color/color_scheme.scss';

.SignInput {

  &-input {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid $gray_1;
    outline: none;
    padding: 10px 10px 10px 15px;
    font-size: $font_size_3;
    font-family: $NOTO_SANS_KR_REGULAR;
    transition-duration: .5s;
    transition-property: border, box-shadow;

    &-readOnly {
      transition: none;
      cursor: initial;
    }
    
  }
  &-input:focus {
    border: 1px solid $soda_primary;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  }
  &-input-readOnly:focus {
    border: 1px solid $gray_1;
    box-shadow: none;
  }
}