
@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';


.QuestionWriteTemplate {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  flex-direction: column;

  &-TitleDiv {
    width: 700px;
    height: 60px;
    margin-top: 5%;

    &-Title {
      width: 100%;
      height: 100%;
      padding: 2%;
      font-size: 20px;
      font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
      box-shadow: 0 0 8px 0 $shadow;
      resize: none;
      border: none;
      outline: 0;
    }
  }

  &-ContentsDiv {
    width: 700px;
    height: 500px;
    margin-top: 1%;

    &-Contents {
      width: 100%;
      height: 100%;
      padding: 2%;
      border: none;
      resize: none;
      font-size: 20px;
      font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
      box-shadow: 0 0 8px 0 $shadow;
      outline: 0;
    }

    &-preViewImage {
      width: 100px;
      height: 50px;
      border: 1px solid black;
    }
  }

  &-buttons {
    width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2%;
  }

  &-postButtonDiv {
    display: flex;
    width: 700px;
    height: 50px;
    margin-top: 2%;

    &-UploadGuide {
      margin: 0 auto auto 0;
      font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
      color: gray;
    }
  }

  &-uploadButtonDiv {
    width: 130px;
    height: 50px;
    border: 2px solid $soda_primary;
    border-radius: 5px;
    align-items: center;
    &-Label {
      display: flex;
      width: 100%;
      height: 100%;
      color: $soda_primary;
      justify-content: center;
      align-items: center;
      font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
      font-weight: 600;
      cursor: pointer;
      transition: ease-out .2s;
      &:hover {
        color: $white;
        background-color: $soda_primary;
      }
    }

    &-uploadButton {
      width: 0px;
      height: 0px;
      overflow: hidden;
    }
  }

  &-ImageCardDiv {
    position: absolute;
    width: 100%;
    bottom: calc(100% + 5px);
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    &-ImageContentsCard {
      width: 300px;
      height: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: $white;
      border: 2px solid $soda_primary;
      border-radius: 5px;
      margin-bottom: 3%;
  
      &-ImageContents {
        width: 80%;
        display: flex;
        margin: auto 20px auto auto;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
        color: $soda_primary;
      }

      &-ImageCancelButton {
        margin-right: 5px;
        margin-top: 5px;
        width: 20px;
        height: 20px;
        margin-bottom: 20px;
        color: $soda_primary;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-ImageHandleButtonDiv {
    display: flex;
    width: 300px;
    height: 50px;
    border: 2px solid $soda_primary;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    &-ImageHandleButton {
      display: flex;
      width: 295px;
      height: 45px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      border: none;
      background-color: white;
      outline: 0px;
      cursor: pointer;
      &-ButtonIcon {
        width: 30px;
        height: 30px;
        color: $soda_primary;
      }
      &-ImageContents {
        width: calc(90% - 26px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: $NOTO_SANS_KR_MEDIUM, $NOTO_SANS_MEDIUM;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        color: $soda_primary;
      }
    }
  }

  &-CategoryBox {
    min-width: 200px;
    height: 50px;
    border: 2px solid $soda_primary;
    font-weight: 600;
    font-family: $NOTO_SANS_KR_REGULAR, $NOTO_SANS_REGULAR;
    color: $soda_primary;
    padding-left: 10px;
    padding-right: 10px;
    outline: 0px;
    cursor: pointer;
    transition: ease-out .2s;
    &:hover {
      color: $white;
      background-color: $soda_primary;
    }
  }

}