* {
  box-sizing: border-box;
  font-display: block;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
